.Card {
    grid-template-columns: repeat( 3, 2fr );
    grid-gap: 20px;
    border-radius: 8px;    
    background-color: #5e0101;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2); 
    width: 250px;
    height: 250px;
    margin: 0.5rem;
    padding: 1px ;
    text-align: center;
}

.Card p {
    margin: 10px;
    padding: 0px;
    
}

.Card img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 0px;
    border-radius: 8px;
}

.Card button {
    border-radius: 8px;
    border: 1px solid #9e040400;
    margin: 2px;
    width: 75%;
    background-color: #22070300;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.Card:hover {
    background-color: #df0404;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.Card button:hover {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    transform: scale(1.1);
}

.Card button:active {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    transform: skew(20deg, 15deg)  scale(1.1);
}