.Favoritos {
    display: grid;
    grid-template-columns: repeat( 4, 1fr );
    grid-gap: 1rem;
}

.Favorito {
    grid-template-columns: repeat( 3, 2fr );
    grid-gap: 20px;
    color: #fff;
    border-radius: 8px;    
    background-color: #5e0101;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2); 
    width: 250px;
    height: 250px;
    margin: 0.5rem;
    padding: 1px ;
    text-align: center;
}

.Favorito p {
    margin: 10px;
    padding: 5px;
    font-weight: bold;
    font-size: 1.1rem;
}

.Favorito img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 0px;
}

.Favorito button {
    border-radius: 8px;
    border: 1px solid #9e0404;
    margin: 2px;
    width: 85%;
    background-color: #220703;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.932);
}

.Favorito button:hover {
    background-color: #f18d8d;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.h1 {
    font-size: 3.2rem;
    font-weight: bold;
    padding: 1rem;
    width: fit-content;
    margin: 1rem auto;
    border-radius: 10px;

}


.limpiarButton {
    border-radius: 8px;
    border: 1px solid #000000;
    margin: 2px;
    width: 15%;
    padding: 10px;
    background-color: #220703;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.limpiarButton:hover {
    background-color: #f18d8d;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    
}