.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px 20px;
    height: 60px;
    background-color: #313030;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
}