.Navbar {
    
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 3rem;
    background-color: #6b0505;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2); 
}

.Navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.Navbar a:hover {
    color: #f18d8d;
}



.Navbar button {
    border-radius: 8px;
    border: 1px solid #9e040400;
    margin: 2px;
    width: auto;
    background-color: #22070300;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    margin-left: auto;
}