* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
}

.oscuro {
  background-color: #020202;
  color: #fff;
}

.claro {
  background-color: #fff;
  color: #000;
}